<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-02-08T12:13:49Z</date>
	<key>WorkspacePath</key>
	<string>/Users/ayodejiayankola/Desktop/Udemy Study Project/Flash-Chat-iOS12/Flash Chat.xcodeproj</string>
</dict>
</plist>
