<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153508598830-3985jhmboq0q8759s42bmt5rtaqu6mjk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153508598830-3985jhmboq0q8759s42bmt5rtaqu6mjk</string>
	<key>API_KEY</key>
	<string>AIzaSyC7BCVo9RbFWnQfm5ICjem94Vwh_oyGsUs</string>
	<key>GCM_SENDER_ID</key>
	<string>153508598830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ayodejiayankola.chatify</string>
	<key>PROJECT_ID</key>
	<string>ios-chatify</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-chatify.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153508598830:ios:8f5839e96d3d6cccdf3bbf</string>
</dict>
</plist>